.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Create 4 columns */
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px; /* Add space between boxes */
  margin: 20px;
  width: 1100px;
  height: 550px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #781714;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

/* Sizes of different grid boxes */
.size-1 {
  grid-column: span 1; /* Default size */
}

.size-2 {
  grid-column: span 2; /* Spans 2 columns */
}

.size-3 {
  grid-row: span 2; /* Spans 3 columns */
}

.span-4 {
  grid-row: span 2; /* Spans 2 rows */
}

.size-4 {
  grid-column: span 2; /* Spans 2 columns */
  grid-row: span 2;
}

/* Optional hover effect */
.grid-item:hover {
  background-color: #5f1210;
}

.box-number {
  font-size: x-large;
}
